* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 10px;
    background-color: #F1F1F1;
    font-size: 18px;
}

h1 {
    margin-top: 16px;
    font-size: 32px;
}

.sketch-container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid gray;
}

.cell {
    background-color: white;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vmin;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options-container .option {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    transition: transform .1s ease-in;
}

.options-container .option:hover {
    transform: scale(1.1);
}

.options-container .black {
    background-color: black;
    color: white;
}

.options-container .white {
    background-color: white;
    color: black
}

.options-container .unselected {
    background-color: #DDDDDD;
    color: black;
}

.slider-container {
    width: 70vmin;
}

.sketch-size-slider {
    width: 100%
}